*{
    margin:0;
    paddng:0;
    box-sizing:border-box;
    font-family:sans-serif;
  }
  body{
    background:#fff;
  }
  .main{
    position:relative;
    height:100vh;
    width:100%;
    overflow:hidden;
  }
  .main .slider{
    position:relative;
    width:500%;
    height:100%;
    transition:0.3s linear;
    overflow:hidden;
    display:flex;
  }
  .main .slider .slide{
    position:relative;
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:#fff;
    overflow:hidden;
  }
  .main .slider .slide:nth-child(1){
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/istanbul.jpg');
    background-size:100% 100%;
    background-position:100% 100%;
    background-attachment:fixed;
  }
  .main .slider .slide:nth-child(2){
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/ankara.jpg');
    background-size:100% 100%;
    background-position:100% 100%;
    background-attachment:fixed;
  }
  .main .slider .slide:nth-child(3){
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/nevsehir.jpg');
    background-size:100% 100%;
    background-position:100% 100%;
    background-attachment:fixed;
  }
  .main .slider .slide:nth-child(4){
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/antalya.jpg');
    background-size:100% 100%;
    background-position:100% 100%;
    background-attachment:fixed;
  }
  .main .slider .slide:nth-child(5){
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/bursa.jpg');
    background-size:100% 100%;
    background-position:100% 100%;
    background-attachment:fixed;
  }
  .main .slider .slide h1{
    position:relative;
    background:#fff;
    color:#000;
    font-size:6.5em;
    padding:5px 15px;
    font-weight:850;
    mix-blend-mode:screen;
    margin-right:505%;
  }
  .main .slider .slide.active h1{
     animation:animateheading 0.5s forwards 1;
      animation-delay:0.3s;
  }
  @keyframes animateheading{
    to{
      margin-right:0;
    }
  }
  .main .slider .slide p{
    position:relative;
    background:#f00;
    color:#fff;
    font-size:1.2em;
    font-weight:500;
    width:auto;
    text-align:center;
    padding:10px 15px;
    margin-top:1%;
    margin-left:505%;
    transtion:0.3s linear;
    transition-delay:0.3s;
  }
  .main .slider .slide.active p{
     animation:animateparagraph 0.5s forwards 1;
      animation-delay:0.3s;
  }
  @keyframes animateparagraph{
    to{
      margin-left:0;
    }
  }
  .main .slider-btn{
    position:absolute;
    z-index:999;
    bottom:0.2%;
    right:0;
    height:60px;
    width:calc(50px *2);
    display:flex;
  }
  .main .slider-btn a.prev,
  .main .slider-btn a.next{
    text-decoration:none;
    color:#000;
    background:rgba(255, 255, 255, 0.85);
    width:inherit;
    height:inherit;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.8em;
    font-weight:850;
    transition:0.2s linear;
  }
  .main .slider-btn a.prev:hover,
  .main .slider-btn a.next:hover{
    background:#f00;
    color:#fff;
  }